<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Selenium.SortedDropDown"/>
      <class name="Selenium.JqueryDropDown"/>
      <class name="Selenium.JavaScriptAlert"/>
      <class name="Selenium.LoginInApplicationBySingleStatement"/>
      <class name="Selenium.BootStrapDropDown"/>
      <class name="Selenium.openLinkInAnotherTab"/>
      <class name="Selenium.HandleBrowserWindow"/>
      <class name="Selenium.NavigationCommands"/>
      <class name="Selenium.GetTitleOfThePage"/> 
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
